################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Khangri/CopilotIndices/0.2.1648.49400/CodeChunks.db
/.vs/Khangri/CopilotIndices/0.2.1648.49400/CodeChunks.db-shm
/.vs/Khangri/CopilotIndices/0.2.1648.49400/CodeChunks.db-wal
/.vs/Khangri/CopilotIndices/0.2.1648.49400/SemanticSymbols.db
/.vs/Khangri/CopilotIndices/0.2.1648.49400/SemanticSymbols.db-shm
/.vs/Khangri/CopilotIndices/0.2.1648.49400/SemanticSymbols.db-wal
/.vs/Khangri/FileContentIndex/7ae12544-eadc-44c1-8e9a-45573236c5c7.vsidx
/.vs/Khangri/FileContentIndex/7af7d3a6-3cc3-4076-8bf5-ea874d145da5.vsidx
/.vs/Khangri/FileContentIndex/86d6b6c5-f652-4290-94e1-148e6495b907.vsidx
/.vs/Khangri/FileContentIndex/bb3191f5-d373-427f-bf29-3894c8bf2f78.vsidx
/.vs/Khangri/FileContentIndex/e8fb5992-a409-426c-9338-daf4e3e2e29e.vsidx
*.bin
