.skin-black .main-header .logo:hover {
  background-color: #fff;
}

.skin-orange-light .main-header .navbar {
  background-color: #fff !important;
}

.skin-orange-light .main-header .navbar .sidebar-toggle {
  color: #080808 !important;
}

.skin-orange-light .main-header .logo {
  background-color: #ffffff !important;
}

.skin-orange-light .main-header .logo:hover {
  background-color: #ffffff !important;
}

.skin-orange-light .wrapper, .skin-orange-light .main-sidebar, .skin-orange-light .left-side {
  background-color: #242a33 !important;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.skin-orange-light .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
  background: #4b4e4d;
}

.skin-orange-light .sidebar-menu .treeview-menu > li > a {
  color: #999794 !important;
}

.skin-orange-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff !important;
}

.skin-orange-light .sidebar-menu .treeview-menu > li.active > a.active {
  color: #faa61a !important;
}

.main-header .logo .logo-mini img {
  width: 38px !important;
}

.main-header .logo .logo-lg::before {
  background: url(../logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.fw-bold {
  font-weight: 900 !important;
}

.sidebar-menu.t a > i:first-child {
  width: 20px;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle;
}

#imagedropdown .dd-option {
  display: flex !important;
  align-items: center;
}
#imagedropdown .dd-option label {
  line-height: 20px !important;
  font-weight: bold;
}
#imagedropdown .dd-selected {
  display: flex !important;
  align-items: center;
}
#imagedropdown .dd-selected label {
  line-height: 20px !important;
  font-weight: bold;
}

.input-group .input-group-append label {
  margin-bottom: 0 !important;
}
.input-group .input-group-append label span.btn {
  height: 100%;
}

#imagedropdown {
  width: 100% !important;
}
#imagedropdown .dd-select {
  width: 100% !important;
}
#imagedropdown .dd-options {
  width: auto !important;
}

.main-sidebar .sidebar {
  overflow-y: scroll;
  position: absolute;
  bottom: 0px;
  top: 50px;
  right: 0px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.main-sidebar .sidebar::-webkit-scrollbar {
  width: 15px;
}
.main-sidebar .sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(149, 149, 149);
  border-radius: 10px;
}
.main-sidebar .sidebar::-webkit-scrollbar-thumb {
  background: rgb(109, 109, 109);
  box-shadow: inset 0 0 5px rgb(149, 149, 149);
  border-radius: 10px;
}
.main-sidebar .sidebar::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}

.wrapper {
  height: 100vh !important;
  overflow-y: hidden;
}

.content-wrapper {
  height: 75vh;
  position: relative;
  bottom: 0px;
  overflow-y: scroll;
}

.sidebar-footer {
  display: none;
}

.main-sidebar.t {
  width: 280px;
}
.main-sidebar.t .sidebar-menu.t > li > a {
  padding: 18px 52px 18px 15px;
}

.content-wrapper, .main-footer {
  margin-left: 280px;
}

.card-header .card-title {
  font-weight: bold;
}

.note-editable {
  min-height: 300px;
}

/*# sourceMappingURL=custom.css.map */